body {
	font-family: 'Lato', sans-serif;
	margin: 16dp;
}
.event-wrapper,
.header-container{
	padding-bottom: 8px;;
}
.overlay {
	height: 100%;
	width: 0%;
	/* opacity: 50%; */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay #overlay-links{
  position: absolute;
  width: 100%;
	top: 33%;	
	text-align: center;
	margin-top: 30px;
}
  
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
 
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}
  
.overlay .closebtn {
	position: absolute;
	top: 10px;
	right: 45px;
	font-size: 60px;
}

/* 
	styling and positioning for strictly only the hamburger menu 
*/
#hamburger {
	position: absolute;
	padding: 8px;
	top: 10px;
	left: 40px;

.burger-container{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

/*HEADER*/
.header-container{
	background-color: blue;
	margin-top: 82px;
}
.header-img{
	background-image: url("i");
}
/*Footer*/
.footer-container{
	background-color: red;
}
.title-container{
	display: flex;
}
  
.header-img-container,
.header-title{
	padding: 18px;
}
.header-summary{
	margin: 26px;
}

/*EVENTS*/
.event-container{
	background-color: green;
}
.event-wrapper{
	background-color: yellow
}
